/* Quiz Multi Choice Game*/

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
  
  .background {
    display: none;
    
  }

  .greyedBackground{
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2)

    
    
  }

  .wrapper {
    width: 430px;
    margin: 0 auto;
    height: 0%;
    padding-top: 0px;
  
  }
  
  #quiz {
    background-color: #34495E;
    padding-bottom: 60px;
    width: 50%;
    border-radius: 2%;
    color: #fff;
    text-align: center;
    
  }
  .quiz {
    display: none;
  }
  .expand {
    

    position: absolute;

    /* This sets the position of the element to be absolute, 
    which means it's positioned relative to its closest 
    positioned ancestor (or the body element if no ancestor is positioned). */

    top: 50%;

    /* This sets the distance of the top edge of the element 
    from the top edge of the closest positioned ancestor 
    to be 50% of the ancestor's height. */

    left: 50%;

    /* This sets the distance of the left edge of the element from the 
    left edge of the closest positioned ancestor 
    to be 50% of the ancestor's width. */

    transform: translate(-50%, -50%);


    /* This uses the translate function to move the element up and to the left 
    by 50% of its own width and height, respectively. 
    This centers the element in the middle of the ancestor. */
  

    display: block;
    
  }
  
  #quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }
  
  .questions {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
  }
  
  .answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
  }
  
  .answers div:hover {
    cursor: pointer;
    color: #FBCB43;
  }
  
  .answers {
    padding: 0px 0 10px 0px;
  }
  
  .answers div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-top: 1px solid grey;
  }
  
  .answers div:first-child {
    border: none;
  }
  
  .checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
  }
  
  .correct, .false {
    background-color: #109D59;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
  }
  
  .false {
    background-color: #DC4437;
  }